#statement {
	font: 50px 'Pacifico', cursive;
	text-align: center;
	color: #009900;
	position: relative;
	top: 75px;
}
#navbar {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background: #009900;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	z-index: 99999;
}
#navbuttons {
	list-style: none;
}
#navbuttons li a {
	display: inline-block;
	font: 30px 'Josefin Slab', serif;
	text-decoration: none;
	float: right;
	margin: 40px 60px 20px 0;
	color: #ffffff;
}
#box {
	position: relative;
	width: 80%;
	height: 500px;
	top: 75px;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #009900;
	border-radius: 10px;
	display: block;
}
#open {
	height: 400px;
	width: 500px;
	float: right;
    margin: 25px;
}
#hometext {
	font: 40px 'Josefin Slab', serif;
	text-align: center;
	margin: 35px;
	color: #663300;
}
#important {
	color: #00ccff;
}